#player {
  width: 40px;
  height: 80px;
  background: url('officeman2.png');
  background-size: 40px 80px;
  background-repeat: no-repeat;
  left: 0px;
  top: 50%;
  position: absolute;
  z-index: 2;
  border: 7px solid red;
}
#pt1 {
  background: url('coffee.png');
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  left: 66%;
  top: 33%;
  position: absolute;}
#pt2 {
  background: url('newspaper.png');
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  left: 33%;
  top: 68%;
  position: absolute;
}
#finish {
  background: url('finish.png');
  width: 25px;
  height: 90px;
  background-size: 25px 90px;
  background-repeat: no-repeat;
  right: 0px;
  top: 50%;
  position: absolute;
}
body {
  background: url('time-square-pic.png') no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}
.random {
  position: absolute;
  transition: left 3s, top 3s;
}
.win {
  height: 50%;
  width: 100%;
  background-color: rgba(122, 122, 122, .8);
  position: absolute;
  top: 20%;
  z-index: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lose {
  height: 50%;
  width: 100%;
  background-color: rgba(244, 78, 66,.8);
  position: absolute;
  top: 20%;
  z-index: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 3vh;
  color: black;
}
h3 {
  font-size: 10vh;
  margin-top: 0px;
}
.mission {
  height: 12%;
  width: auto;
  background-color: rgba(122, 122, 122, .3);
  position: absolute;
  color: white;
  margin: 0px;
  padding: 0 5px 0 5px;
  z-index: 3;
  font-size: 4vh;
  border: 3px solid white;
}
.playerid {
  height: 12%;
  width: auto;
  background-color: rgba(122, 122, 122, .3);
  position: absolute;
  right: 1%;
  color: white;
  margin: 0px;
  z-index: 3;
  border: 3px solid white;
}
.playerid p {
  display: inline-block;
  padding: 0 5px 0 5px;
  font-size: 4vh;
}
#enemy1 {
  background: url('captainamerica_shield.png');
  width: 40px;
  height: 80px;
  background-size: 40px 80px;
  background-repeat: no-repeat;
}
#enemy2 {
  background: url('german_m2.png');
  width: 40px;
  height: 80px;
  background-size: 40px 80px;
  background-repeat: no-repeat;
}
#enemy3 {
  background: url('hulk.png');
  width: 40px;
  height: 80px;
  background-size: 40px 80px;
  background-repeat: no-repeat;
}
#enemy4 {
  background: url('kenyan_f1.png');
  width: 40px;
  height: 80px;
  background-size: 40px 80px;
  background-repeat: no-repeat;
}
#enemy5 {
  background: url('modernguy05.png');
  width: 40px;
  height: 80px;
  background-size: 40px 80px;
  background-repeat: no-repeat;
}
#enemy6 {
  background: url('snowwhite.png');
  width: 40px;
  height: 80px;
  background-size: 40px 80px;
  background-repeat: no-repeat;
}

