*{
  margin:0;
  padding:0;
}
body {
  background: url('landing.jpg') no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 10vh;
}
h2 {
  font-family: 'Exo', sans-serif;
  font-size: 4vh;
}
h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 8px;
  text-decoration: underline;
}
button {
margin-top: 25px;
}
.header {
  margin-top: 4vh;
}
.brief {
   margin-top: 25vh;
}
.buy {
  margin-top: 12vh;
  display: inline-block;
}
.buy img {
  height: 5vh;
  width: auto;
}
.character {
  margin-top: 3vh;
}
.info {
  margin-top: 5vh;
  background-color: #8CFFE8;
  position: relative;
  border-radius: 5px;
  height: 300px;
  width: 400px;
}
#ptag {
  width: 400px;
  text-align: left;
  font-size: 15px;
  margin-left: 5px;
}
.instruction {
  font-family: 'Exo', sans-serif;
  font-size: 4vh;
}
@media (max-width: 6000px) {
  h1 {
   font-size: 8vh;
  }
  .buy img {
   height: 3vh;
  }
}
@media (max-width: 470px) {
  h1 {
    font-size: 6vh;
  }
  h2 {
    font-size: 3vh;
  }
  .buy img {
    height: 3vh;
  }
  .info {
    width: 300px;
  }
  #ptag {
    width: 300px;
  }
}
@media (max-width: 300px) {
  .brief {
    margin-top: 5vh;
  }
  }
  @media (max-height: 550px) {
  .info {
    margin-top: 5vh;
    height: 200px;
  }
  #ptag {
    font-size: 10px;
    margin-left: 5px;
  }
  button {
   margin-top: 20px;
  }
  h3 {
    margin-bottom: 15px;
    margin-top: 5px;
  }
}
